<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!-- Wire up the handler inside the <configSections /> element; once per custom section -->
		<section name="networkConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />

		<!-- And this goes in the main part of the config file -->

	</configSections>
	<networkConfig>
		<ip>localhost</ip>
		<port>6666</port>
	</networkConfig>
</configuration>